
@keyframes smoothScroll {
  0% {
    transform: translateY(-60px)
  }

  to {
    transform: translateY(0)
  }
}

@-webkit-keyframes slide-in-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px)
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@keyframes slide-in-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px)
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px)
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

@keyframes slide-in-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px)
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px)
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}

@keyframes slide-in-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px)
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}
@keyframes fadeInUpSmall {
  0% {
    opacity: 0;
    transform: translateY(45px) scale(.95);
}

100% {
  opacity: 1;
  transform: translateY(0) scale(1);
}
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 1;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.fadeInUpSmall {
  animation-name: fadeInUpSmall;
}

.slide-in-bottom {
  -webkit-animation: fadeInUp .5s cubic-bezier(.25, .46, .45, .94) both;
  animation: fadeInUp .5s cubic-bezier(.25, .46, .45, .94) both
}

.slide-in-right {
  -webkit-animation: slide-in-right 1.2s cubic-bezier(.25, .46, .45, .94) both;
  animation: slide-in-right 1.2s cubic-bezier(.25, .46, .45, .94) both
}

.slide-in-left {
  -webkit-animation: slide-in-left .5s cubic-bezier(.25, .46, .45, .94) both;
  animation: slide-in-left .5s cubic-bezier(.25, .46, .45, .94) both
}

@-webkit-keyframes slideme {
  0% { left: -30px; margin-left: 0px; }
  30% { left: 110%; margin-left: 80px; }
  100% { left: 110%; margin-left: 80px; } 
}

@keyframes videoLinkScale {
  0% {
    transform: scale(1);

}
30% {
    transform: scale(.9);

}
50% {
    transform: scale(1.05);

}

80% {
    transform: scale(.9);

}
100% {
    transform: scale(1);

}
}