<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>

        <div class="pageheader">
          <div class="container">
            <div class="pageheader__content">
              <div class="breadcrumbs">
                  <div class="breadcrumbs__items">
                    <ul>
                      <li><a href="/"><span><img src="img/Home.svg" alt=""></span></a></li>
                      <li><span>Каталог</span></li>
                    </ul>
                  </div>
                  <!-- /.breadcrumbs__items -->
            </div><!-- /.breadcrumbs -->
            <div class="pageheader__title">
              <h1>Каталог</h1>
          </div><!-- /.pageheader__title -->
        </div><!-- /.pageheader__content -->
        </div><!-- /.container -->

        </div><!-- /.pageheader -->
       
        <div class="categoryblocks categoryblocks_page">
          <div class="container">
            <div class="categoryblocks__items">
              <div class="categoryblocks__item fadeInUpSmall wow" data-wow-delay=".15s">
                <div class="categoryblock">
                  <a href='#' class="categoryblock__wrapper">
                    <span class="categoryblock__title">Креветки</span><!-- /.categoryblock__title -->
                    <span class="categoryblock__image">
                      <img data-src="img/categoryblock1.png" alt="">
                    </span><!-- /.categoryblock__image -->
                  </a><!-- /.categoryblock__wrapper -->
                </div><!-- /.categoryblock -->
              </div><!-- /.categoryblocks__item -->
              <div class="categoryblocks__item fadeInUpSmall wow" data-wow-delay=".3s">
                <div class="categoryblock">
                  <a href='#' class="categoryblock__wrapper">
                    <span class="categoryblock__title">Крабы</span><!-- /.categoryblock__title -->
                    <span class="categoryblock__image">
                      <img data-src="img/categoryblock2.png" alt="">
                    </span><!-- /.categoryblock__image -->
                  </a><!-- /.categoryblock__wrapper -->
                </div><!-- /.categoryblock -->
              </div><!-- /.categoryblocks__item -->
              <div class="categoryblocks__item fadeInUpSmall wow" data-wow-delay=".45s">
                <div class="categoryblock">
                  <a href='#' class="categoryblock__wrapper">
                    <span class="categoryblock__title">Моллюски</span><!-- /.categoryblock__title -->
                    <span class="categoryblock__image">
                      <img data-src="img/categoryblock3.png" alt="">
                    </span><!-- /.categoryblock__image -->
                  </a><!-- /.categoryblock__wrapper -->
                </div><!-- /.categoryblock -->
              </div><!-- /.categoryblocks__item -->
              <div class="categoryblocks__item fadeInUpSmall wow" data-wow-delay=".6s">
                <div class="categoryblock">
                  <a href='#' class="categoryblock__wrapper">
                    <span class="categoryblock__title">Рыба</span><!-- /.categoryblock__title -->
                    <span class="categoryblock__image">
                      <img data-src="img/categoryblock4.png" alt="">
                    </span><!-- /.categoryblock__image -->
                  </a><!-- /.categoryblock__wrapper -->
                </div><!-- /.categoryblock -->
              </div><!-- /.categoryblocks__item -->
            </div><!-- /.categoryblocks__items -->
          </div><!-- /.container -->
        </div><!-- /.categoryblocks -->

        <div class="aboutblock">
          <div class="container">
            <div class="aboutblock__title onlyMobile">
              Мы добываем, перерабатываем и доставляем 
              <span class="red">лучшие морепродукты в России</span><!-- /.red -->
            </div><!-- /.aboutblock__title -->
            <div class="aboutblock__wrapper" data-myslider-wrapper='slider_aboutblock'>
              <div class="aboutblock__main">
                <div class="aboutblock__title onlyDesktop">
                  Мы добываем, перерабатываем и доставляем 
                  <span class="red">лучшие морепродукты в России</span><!-- /.red -->
                </div><!-- /.aboutblock__title -->
                <div class="aboutblock__text">
                  <p>Компании, объединённые под торговой маркой «Морской волк», занимают передовые позиции во второй по значению отрасли нашей территории. ООО «Тихоокеанская рыбопромышленная компания» и ООО «Маг-Си Интернешнл» — безусловные лидеры как в добыче, так и в переработке водных биоресурсов.</p>
                  <p> Тысячи людей успешно и стабильно работают в их коллективах, кормят свои семьи и продолжают лучшие трудовые традиции Магаданской области. Вклад компаний в формирование бюджета территории очень весом. Областные власти ценят это, стараясь создавать благоприятные условия для развития отрасли в целом и корпорации «Морской волк», в частности.</p>
                </div><!-- /.aboutblock__text --> 
                <div class="aboutblock__nav">
                  <div class="aboutblock__number">
                    <div class="navslider__progress" data-bar>
                      <div class="slider__numb">
                        <span data-barcurrent  class='slider_barcurrent'>01</span>
                        <span data-bartotal  class='slider_bartotal'>05</span>
                      </div><!-- /.slider__numb -->                   
                      <span data-barline='slider_aboutblock' class='slider_barline'>
                        <span data-barscroll='slider_aboutblock'></span>
                      </span>
                    </div><!-- /.navslider__number -->
                  </div><!-- /.aboutblock__number -->
                  <div class="aboutblock__link onlyDesktop">
                    <a href="#" class="btn_border">
                      <span>Узнать больше</span>
                    </a><!-- /.btn_border -->
                  </div><!-- /.aboutblock__link -->
                </div><!-- /.aboutblock__nav -->

                <div class="aboutblock__link onlyMobile">
                  <a href="#" class="btn_border">
                    <span>Узнать больше</span>
                  </a><!-- /.btn_border -->
                </div><!-- /.aboutblock__link -->
              </div><!-- /.aboutblock__main -->

              <div class="aboutblock__sliderblock">
                <div class="myslider__arrows"  data-myslider-arrows='slider_aboutblock'>
                  <div class="myslider__arrow myslider__left" data-prev>
                    <img data-src="img/slider_right.svg" alt="">
                  </div>
                  <div class="myslider__arrow myslider__right" data-next>
                    <img data-src="img/slider_right.svg" alt="">
                  </div>
                </div>
              
                <div class="aboutblock__slider" data-myslider-container='slider_aboutblock'>
                  
                  <div class="myslider__slider" data-myslider-slider='slider_aboutblock'>
                    <div class="myslider__slide" data-myslider-slide='slider_aboutblock'>
                      <img src="img/aboutblock_1.jpg" alt="">
                    </div>
                    <div class="myslider__slide" data-myslider-slide='slider_aboutblock'>
                      <img src="img/aboutblock_2.jpg" alt="">
                    </div>
                    <div class="myslider__slide" data-myslider-slide='slider_aboutblock'>
                      <img src="img/aboutblock_1.jpg" alt="">
                    </div>
                    <div class="myslider__slide" data-myslider-slide='slider_aboutblock'>
                      <img src="img/aboutblock_2.jpg" alt="">
                    </div>
                      
                  </div>
                </div><!-- /.aboutblock__slider -->
              </div><!-- /.aboutblock__sliderblock -->

            </div><!-- /.aboutblock__wrapper -->
          </div><!-- /.container -->
        </div><!-- /.aboutblock -->

      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>