<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>
        <div class="indexblock">
          <div class="container">
            <div class="indexblock__wrapper">
              <div class="indexblock__title">
                Магаданские  морепродукты. Дикая продукция Охотского моря
              </div><!-- /.indexblock__title -->
            </div><!-- /.indexblock__wrapper --> 
          </div><!-- /.container -->
        </div><!-- /.indexblock -->

      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>