<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>
        <div class="pageheader"></div>
        <div class="pageheader_inside">
          <div class="container">
            <div class="pageheader__content">
              <div class="breadcrumbs">
                <div class="breadcrumbs__items">
                  <ul>
                    <li><a href="/"><span><img src="img/Home.svg" alt=""></span></a></li>
                    <li><span>Новости</span></li>
                  </ul>
                </div>
                <!-- /.breadcrumbs__items -->
              </div><!-- /.breadcrumbs -->
              <div class="pageheader__title">
                <h1>Новости</h1>
              </div><!-- /.pageheader__title -->
            </div><!-- /.pageheader__content -->
          </div><!-- /.container -->

        </div><!-- /.pageheader -->
        

        <div class="newslist">
          <div class="container">
            <div class="newslist__items">
              <div class="newslist__item">
                <div class="newsitem">
                  <div class="newsitem__image">
                    <div class="newsitem__img">
                      <img src="img/newscard1.jpg" alt="" width='405' height='255'>
                    </div><!-- /.newscard__img -->
                  </div><!-- /.newscard__image -->
                  <div class="newsitem__main">
                    <div class="newsitem__title"><a href="#">сТЕЙК ИЗ ЛОСОСЯ ПОД СЛИВОЧНЫМ СОУСОМ</a></div>
                    <!-- /.newsitem__title -->
                    <div class="newsitem__params">
                      <div class="newsitem__param">01.04.2024</div><!-- /.newsitem__param -->
                    </div><!-- /.newsitem__params -->
                  </div><!-- /.newsitem__main -->
                </div><!-- /.newscard -->
              </div><!-- /.newsblock__item -->
              <div class="newslist__item">
                <div class="newsitem">
                  <div class="newsitem__image">
                    <div class="newsitem__img">
                      <img src="img/newscard2.jpg" alt="" width='405' height='255'>
                    </div><!-- /.newscard__img -->
                  </div><!-- /.newscard__image -->
                  <div class="newsitem__main">
                    <div class="newsitem__title"><a href="#">сТЕЙК ИЗ ЛОСОСЯ ПОД СЛИВОЧНЫМ СОУСОМ</a></div>
                    <!-- /.newsitem__title -->
                    <div class="newsitem__params">
                      <div class="newsitem__param">01.04.2024</div><!-- /.newsitem__param -->
                    </div><!-- /.newsitem__params -->
                  </div><!-- /.newsitem__main -->
                </div><!-- /.newscard -->
              </div><!-- /.newsblock__item -->
              <div class="newslist__item">
                <div class="newsitem">
                  <div class="newsitem__image">
                    <div class="newsitem__img">
                      <img src="img/newscard1.jpg" alt="" width='405' height='255'>
                    </div><!-- /.newscard__img -->
                  </div><!-- /.newscard__image -->
                  <div class="newsitem__main">
                    <div class="newsitem__title"><a href="#">сТЕЙК ИЗ ЛОСОСЯ ПОД СЛИВОЧНЫМ СОУСОМ</a></div>
                    <!-- /.newsitem__title -->
                    <div class="newsitem__params">
                      <div class="newsitem__param">01.04.2024</div><!-- /.newsitem__param -->
                    </div><!-- /.newsitem__params -->
                  </div><!-- /.newsitem__main -->
                </div><!-- /.newscard -->
              </div><!-- /.newsblock__item -->
              <div class="newslist__item">
                <div class="newsitem">
                  <div class="newsitem__image">
                    <div class="newsitem__img">
                      <img src="img/newscard1.jpg" alt="" width='405' height='255'>
                    </div><!-- /.newscard__img -->
                  </div><!-- /.newscard__image -->
                  <div class="newsitem__main">
                    <div class="newsitem__title"><a href="#">сТЕЙК ИЗ ЛОСОСЯ ПОД СЛИВОЧНЫМ СОУСОМ</a></div>
                    <!-- /.newsitem__title -->
                    <div class="newsitem__params">
                      <div class="newsitem__param">01.04.2024</div><!-- /.newsitem__param -->
                    </div><!-- /.newsitem__params -->
                  </div><!-- /.newsitem__main -->
                </div><!-- /.newscard -->
              </div><!-- /.newsblock__item -->
              <div class="newslist__item">
                <div class="newsitem">
                  <div class="newsitem__image">
                    <div class="newsitem__img">
                      <img src="img/newscard1.jpg" alt="" width='405' height='255'>
                    </div><!-- /.newscard__img -->
                  </div><!-- /.newscard__image -->
                  <div class="newsitem__main">
                    <div class="newsitem__title"><a href="#">сТЕЙК ИЗ ЛОСОСЯ ПОД СЛИВОЧНЫМ СОУСОМ</a></div>
                    <!-- /.newsitem__title -->
                    <div class="newsitem__params">
                      <div class="newsitem__param">01.04.2024</div><!-- /.newsitem__param -->
                    </div><!-- /.newsitem__params -->
                  </div><!-- /.newsitem__main -->
                </div><!-- /.newscard -->
              </div><!-- /.newsblock__item -->
              <div class="newslist__item">
                <div class="newsitem">
                  <div class="newsitem__image">
                    <div class="newsitem__img">
                      <img src="img/newscard1.jpg" alt="" width='405' height='255'>
                    </div><!-- /.newscard__img -->
                  </div><!-- /.newscard__image -->
                  <div class="newsitem__main">
                    <div class="newsitem__title"><a href="#">сТЕЙК ИЗ ЛОСОСЯ ПОД СЛИВОЧНЫМ СОУСОМ</a></div>
                    <!-- /.newsitem__title -->
                    <div class="newsitem__params">
                      <div class="newsitem__param">01.04.2024</div><!-- /.newsitem__param -->
                    </div><!-- /.newsitem__params -->
                  </div><!-- /.newsitem__main -->
                </div><!-- /.newscard -->
              </div><!-- /.newsblock__item -->
              <div class="newslist__item">
                <div class="newsitem">
                  <div class="newsitem__image">
                    <div class="newsitem__img">
                      <img src="img/newscard1.jpg" alt="" width='405' height='255'>
                    </div><!-- /.newscard__img -->
                  </div><!-- /.newscard__image -->
                  <div class="newsitem__main">
                    <div class="newsitem__title"><a href="#">сТЕЙК ИЗ ЛОСОСЯ ПОД СЛИВОЧНЫМ СОУСОМ</a></div>
                    <!-- /.newsitem__title -->
                    <div class="newsitem__params">
                      <div class="newsitem__param">01.04.2024</div><!-- /.newsitem__param -->
                    </div><!-- /.newsitem__params -->
                  </div><!-- /.newsitem__main -->
                </div><!-- /.newscard -->
              </div><!-- /.newsblock__item -->
              <div class="newslist__item">
                <div class="newsitem">
                  <div class="newsitem__image">
                    <div class="newsitem__img">
                      <img src="img/newscard1.jpg" alt="" width='405' height='255'>
                    </div><!-- /.newscard__img -->
                  </div><!-- /.newscard__image -->
                  <div class="newsitem__main">
                    <div class="newsitem__title"><a href="#">сТЕЙК ИЗ ЛОСОСЯ ПОД СЛИВОЧНЫМ СОУСОМ</a></div>
                    <!-- /.newsitem__title -->
                    <div class="newsitem__params">
                      <div class="newsitem__param">01.04.2024</div><!-- /.newsitem__param -->
                    </div><!-- /.newsitem__params -->
                  </div><!-- /.newsitem__main -->
                </div><!-- /.newscard -->
              </div><!-- /.newsblock__item -->
              <div class="newslist__item">
                <div class="newsitem">
                  <div class="newsitem__image">
                    <div class="newsitem__img">
                      <img src="img/newscard1.jpg" alt="" width='405' height='255'>
                    </div><!-- /.newscard__img -->
                  </div><!-- /.newscard__image -->
                  <div class="newsitem__main">
                    <div class="newsitem__title"><a href="#">сТЕЙК ИЗ ЛОСОСЯ ПОД СЛИВОЧНЫМ СОУСОМ</a></div>
                    <!-- /.newsitem__title -->
                    <div class="newsitem__params">
                      <div class="newsitem__param">01.04.2024</div><!-- /.newsitem__param -->
                    </div><!-- /.newsitem__params -->
                  </div><!-- /.newsitem__main -->
                </div><!-- /.newscard -->
              </div><!-- /.newsblock__item -->
              <div class="newslist__item">
                <div class="newsitem">
                  <div class="newsitem__image">
                    <div class="newsitem__img">
                      <img src="img/newscard1.jpg" alt="" width='405' height='255'>
                    </div><!-- /.newscard__img -->
                  </div><!-- /.newscard__image -->
                  <div class="newsitem__main">
                    <div class="newsitem__title"><a href="#">сТЕЙК ИЗ ЛОСОСЯ ПОД СЛИВОЧНЫМ СОУСОМ</a></div>
                    <!-- /.newsitem__title -->
                    <div class="newsitem__params">
                      <div class="newsitem__param">01.04.2024</div><!-- /.newsitem__param -->
                    </div><!-- /.newsitem__params -->
                  </div><!-- /.newsitem__main -->
                </div><!-- /.newscard -->
              </div><!-- /.newsblock__item -->
              <div class="newslist__item">
                <div class="newsitem">
                  <div class="newsitem__image">
                    <div class="newsitem__img">
                      <img src="img/newscard1.jpg" alt="" width='405' height='255'>
                    </div><!-- /.newscard__img -->
                  </div><!-- /.newscard__image -->
                  <div class="newsitem__main">
                    <div class="newsitem__title"><a href="#">сТЕЙК ИЗ ЛОСОСЯ ПОД СЛИВОЧНЫМ СОУСОМ</a></div>
                    <!-- /.newsitem__title -->
                    <div class="newsitem__params">
                      <div class="newsitem__param">01.04.2024</div><!-- /.newsitem__param -->
                    </div><!-- /.newsitem__params -->
                  </div><!-- /.newsitem__main -->
                </div><!-- /.newscard -->
              </div><!-- /.newsblock__item -->
              <div class="newslist__item">
                <div class="newsitem">
                  <div class="newsitem__image">
                    <div class="newsitem__img">
                      <img src="img/newscard1.jpg" alt="" width='405' height='255'>
                    </div><!-- /.newscard__img -->
                  </div><!-- /.newscard__image -->
                  <div class="newsitem__main">
                    <div class="newsitem__title"><a href="#">сТЕЙК ИЗ ЛОСОСЯ ПОД СЛИВОЧНЫМ СОУСОМ</a></div>
                    <!-- /.newsitem__title -->
                    <div class="newsitem__params">
                      <div class="newsitem__param">01.04.2024</div><!-- /.newsitem__param -->
                    </div><!-- /.newsitem__params -->
                  </div><!-- /.newsitem__main -->
                </div><!-- /.newscard -->
              </div><!-- /.newsblock__item -->
            </div><!-- /.newsblock__items -->
            <div class="newsnav">
              
              <div class="catalognav__pagination">
                <div class="paginationblock">
                  <div class="pagination">
                    <a href="#" class="pagination__arrLeft disabled">
                    <img src="img/pagiRight.svg" alt="">
                    </a>
                    <ul>
                      <li class="active"><a href="">1</a></li>
                      <li><a href="">2</a></li>
                      <li><a href="">3</a></li>
                      <li><span>...</span></li>
                      <li><a href="">112</a></li>
                    </ul>
                    <a href="#" class="pagination__arrRight">
                    <img src="img/pagiRight.svg" alt="">
                    </a>
                  </div>
                </div>
                
              </div>
            </div>
          </div><!-- /.container -->
        </div><!-- /.newsblock -->




      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>