<% var data = {
  title: "MAIN",
  author: ""
  }; %><%= _.template(require('../includes/head.html').default)(data) %>
  <style>
    [data-toggle='modal'] {margin-bottom: 5px;}
  </style>
  <main>
    <br><br><br><br><br><br><br><br><br><br>

  <div class="container">
    <a href="#popup_auth" data-toggle='modal' class="btn btn_main"> Авторизация</a>
    <a href="#popup_sms" data-toggle='modal' class="btn btn_main">Вход по SMS</a>
    <a href="#popup_password" data-toggle='modal' class="btn btn_main"> Восстановление пароля</a>
    <a href="#popup_reg" data-toggle='modal' class="btn btn_main"> Регистрация</a>
    <a href="#popup_callback" data-toggle='modal' class="btn btn_main"> Заказать звонок</a>
    <a href="#popup_product" data-toggle='modal' class="btn btn_main">Сообщить о наличии</a>
    <a href="#popup_success" data-toggle='modal' class="btn btn_main">Ваша заявка успешно принята</a>
    <a href="#popup_fail" data-toggle='modal' class="btn btn_main">Чтото пошло не так </a>

    <a href="#popup_review" data-toggle='modal' class="btn btn_main">Оставить отзыв</a>
    <br>
    <br>
  </div>
  <!-- /.container -->
</main>



<div class="modal modal_small fade" tabindex="-1" role="dialog" id='popup_auth'>
  <div class="modal-dialog" role="document">
    <div class="modalwrapper">
      <div class="modal-content">
        <div class="modal__header">
          <div class="modal-title">Авторизация</div>

        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <img src="img/closebutton.svg" alt="">
          </span>
        </button>
        <div class="modal-body">
          <form action="">
            <div class="formblock">
              <div class="formblock__main">
                <div class="formblock__input">
                  <label for="">Телефон или Email</label>
                  <input type="text" class='input-error' value='2431”4”№г”'>
                  <span class="input-errortext">Текст ошибки</span>

                </div><!-- /.formblock__input -->
                <div class="formblock__input">
                  <label for="">Пароль</label>
                  <div class="inputpassword">
                    <input type="password" >
                    <img src="img/Invisible.svg" alt="" data-toggle="password">
                  </div><!-- /.inputpassword -->
                </div><!-- /.formblock__input -->
              </div><!-- /.formblock__main -->
              <div class="flex content-between ">
                <div class="check">
                  <input type="checkbox" id="save" checked="checked" value="Y">
                  <label for="save">Запомнить меня</a>
                  </label>
                </div>  
                <a href="#">Забыли пароль?</a>
              </div>
              <div class="modal-submit modal-submit_small">
                <div class="buttonsrow">
                  <div class="buttonsrow__item buttonsrow__item_full">
                    <button type='submit' class='btn btn_main'>Войти</button>
                  </div>
                  <!-- /.buttonsrow__item -->
                  <div class="buttonsrow__item buttonsrow__item_full">
                    <a class='btn_white'>SMS-авторизация</a>

                  </div>
                  <!-- /.buttonsrow__item -->
                </div>
                <!-- /.buttonsrow -->
              </div>
              <div class="textlogin flex content-between items-center">
                <div class="textlogin__text">У вас еще нет учетной записи?</div>
                <div class="textlogin__link"><a href="">Зарегистрируйтесь</a></div>
              </div><!-- /.textlogin -->
            </div><!-- /.formblock -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal_small fade" tabindex="-1" role="dialog" id='popup_sms'>
  <div class="modal-dialog" role="document">
    <div class="modalwrapper">
      <div class="modal-content">
        <div class="modal__header">
          <div class="modal-title">Вход по SMS</div>

        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <img src="img/closebutton.svg" alt="">
          </span>
        </button>
        <div class="modal-body">
          <form action="">
            <div class="formblock">
              <div class="formblock__main formblock__main_small">
                <div class="formblock__input">
                  <label for="">Ваш телефон</label>
                  <input type="tel" placeholder=''>
                </div><!-- /.formblock__input -->
               
              </div><!-- /.formblock__main -->
            
              <div class="modal-submit modal-submit_small"> 
                <div class="buttonsrow">
                  <div class="buttonsrow__item buttonsrow__item_full">
                    <button type='submit' class='btn btn_main'>Войти по SMS</button>
                  </div>
                  <!-- /.buttonsrow__item -->
                 
                </div>
                <!-- /.buttonsrow -->
              </div>
              <div class="textlogin flex content-between items-center">
                <div class="textlogin__text">У вас еще нет учетной записи?</div>
                <div class="textlogin__link"><a href="">Зарегистрируйтесь</a></div>
              </div><!-- /.textlogin -->
              
            </div><!-- /.formblock -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal modal_small fade" tabindex="-1" role="dialog" id='popup_password'>
  <div class="modal-dialog" role="document">
    <div class="modalwrapper">
      <div class="modal-content">
        <div class="modal__header">
          <div class="modal-title">Восстановление пароля</div>

        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <img src="img/closebutton.svg" alt="">
          </span>
        </button>
        <div class="modal-body">
          <form action="">
            <div class="formblock">
              <div class="formblock__main">
                <div class="formblock__input">
                  <label for="">Ваш телефон</label>
                  <input type="tel">
                </div><!-- /.formblock__input -->
              
              </div><!-- /.formblock__main -->
            
              <div class="modal-submit modal-submit_small">
                <div class="buttonsrow">
                  <div class="buttonsrow__item buttonsrow__item_full">
                    <button type='submit' class='btn btn_main'>Восстановить</button>
                  </div>
                  <!-- /.buttonsrow__item -->
                  
                </div>
                <!-- /.buttonsrow -->
              </div>
              
            </div><!-- /.formblock -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal  fade" tabindex="-1" role="dialog" id='popup_reg'>
  <div class="modal-dialog" role="document">
    <div class="modalwrapper">
      <div class="modal-content">
        <div class="modal__header">
          <div class="modal-title">Регистрация</div>
            
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <img src="img/closebutton.svg" alt="">
          </span>
        </button>
        <div class="modal-body">
          <div class="formblock__main ">
            <div class="formblock__input">
              <label for="">Имя</label>
              <input type="text"  value=''>

            </div><!-- /.formblock__input -->
            <div class="formblock__input">
              <label for="">Фамилия</label>
              <input type="text">
            </div><!-- /.formblock__input -->
            <div class="formblock__input">
              <label for="">Email</label>
              <input type="text">
            </div><!-- /.formblock__input -->
            <div class="formblock__input">
              <label for="">Телефон</label>
              <input type="tel" placeholder='''>
            </div><!-- /.formblock__input -->
           
            <div class="formblock__input">
              <label for="">Пароль</label>
              <div class="inputpassword">
                <input type="password" >
                <img src="img/Invisible.svg" alt="" data-toggle="password">
              </div><!-- /.inputpassword -->
            </div><!-- /.formblock__input -->
            <div class="formblock__input">
              <label for="">Повторите, пожалуйста</label>
              <div class="inputpassword">
                <input type="password" >
                <img src="img/Invisible.svg" alt="" data-toggle="password">
              </div><!-- /.inputpassword -->
            </div><!-- /.formblock__input -->
          </div><!-- /.formblock__main -->
             
              <div class="modal-submit modal-submit_small">
                <div class="buttonsrow xs-full">
                  <div class="buttonsrow__item ">
                    <div class="formblock__check">
                      <div class="check agree">
                        <input type="checkbox" id="agree1" checked="checked" value="Y">
                        <label for="agree1">Даю свое согласие на обработку персональных данных, соглашаюсь <a href=""> с политикой конфиденциальности</a> и принимаю <a href="">условия оферты</a>
                        </label>
                      </div>
                    </div><!-- /.formblock__check -->
                  </div>
                  <!-- /.buttonsrow__item -->
                  <div class="buttonsrow__item ">
                    <button type='submit' class='btn btn_main'>Зарегистрироваться</button>
                  </div>
                  <!-- /.buttonsrow__item -->
                 
                </div>
                <!-- /.buttonsrow -->
              </div>

              <div class="textlogin flex content-between items-center">
                <div class="textlogin__text">Уже есть учетная запись?</div>
                <div class="textlogin__link"><a href="">Авторизируйтесь</a></div>
              </div><!-- /.textlogin -->

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal_small fade" tabindex="-1" role="dialog" id='popup_callback'>
  <div class="modal-dialog" role="document">
    <div class="modalwrapper">
      <div class="modal-content">
        <div class="modal__header">
          <div class="modal-title">Заказать звонок</div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <img src="img/closebutton.svg" alt="">
          </span>
        </button>
        <div class="modal-body">
          <form action="">
            <div class="formblock">
              <div class="formblock__main">
                <div class="formblock__input">
                  <label for="">Имя</label>
                  <input type="text" >

                </div><!-- /.formblock__input -->
                <div class="formblock__input">
                  <label for="">Телефон</label>
                  <input type="tel" placeholder=''>
                </div><!-- /.formblock__input -->
              </div><!-- /.formblock__main -->
              <div class="modal-submit modal-submit_small">
                <div class="buttonsrow">
                  <div class="buttonsrow__item buttonsrow__item_full">
                    <button type='submit' class='btn btn_main'>Отправить</button>
                  </div>
                  <!-- /.buttonsrow__item -->
                </div>
                <!-- /.buttonsrow -->
              </div>
              <div class="formblock__check">
                <div class="check agree">
                  <input type="checkbox" id="agree3" checked="checked" value="Y">
                  <label for="agree3">Даю свое согласие на обработку персональных данных, соглашаюсь с <a href="">политикой конфиденциальности</a>
                  </label>
                </div>
              </div><!-- /.formblock__check -->
              
            </div><!-- /.formblock -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal modal_small fade" tabindex="-1" role="dialog" id='popup_product'>
  <div class="modal-dialog" role="document">
    <div class="modalwrapper">
      <div class="modal-content">
        <div class="modal__header">
          <div class="modal-title" style='text-align: left;'>Собщить о наличии Камчатский краб, комплект конечностей, 500г</div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <img src="img/closebutton.svg" alt="">
          </span>
        </button>
        <div class="modal-body">
          <form action="">
            <div class="formblock">
              <div class="formblock__main">
                <div class="formblock__input">
                  <label for="">Имя</label>
                  <input type="text" >

                </div><!-- /.formblock__input -->
                <div class="formblock__input">
                  <label for="">Телефон</label>
                  <input type="tel" placeholder=''>
                </div><!-- /.formblock__input -->
              </div><!-- /.formblock__main -->
              <div class="modal-submit modal-submit_small">
                <div class="buttonsrow">
                  <div class="buttonsrow__item buttonsrow__item_full">
                    <button type='submit' class='btn btn_main'>Отправить</button>
                  </div>
                  <!-- /.buttonsrow__item -->
                </div>
                <!-- /.buttonsrow -->
              </div>
              <div class="formblock__check">
                <div class="check agree">
                  <input type="checkbox" id="agree5" checked="checked" value="Y">
                  <label for="agree5">Даю свое согласие на обработку персональных данных, соглашаюсь с <a href="">политикой конфиденциальности</a>
                  </label>
                </div>
              </div><!-- /.formblock__check -->
              
            </div><!-- /.formblock -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal modal_small fade" tabindex="-1" role="dialog" id='popup_success'>
  <div class="modal-dialog" role="document">
    <div class="modalwrapper">
      <div class="modal-content">
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <img src="img/closebutton.svg" alt="">
          </span>
        </button>
        <div class="modal-body">
             
              <div class="modalinfo">
                <div class="modalinfo__image"><img src="img/success.svg" alt=""></div><!-- /.modalinfo__image -->
                <div class="modalinfo__title">Ваша заявка успешно принята</div><!-- /.modalinfo__title -->
                <div class="modalinfo__text">Даю свое согласие на обработку персональных данных, соглашаюсь с политикой конфиденциальности</div><!-- /.modalinfo_-text -->
              </div><!-- /.modalinfo -->
              <div class="modal-submit modal-submit_small">
                <div class="buttonsrow">
                  <div class="buttonsrow__item buttonsrow__item_full">
                    <button type='submit' class='btn btn_main' data-dismiss="nodal">Ок</button>
                  </div>
                  <!-- /.buttonsrow__item -->
                 
                </div>
                <!-- /.buttonsrow -->
              </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal_small fade" tabindex="-1" role="dialog" id='popup_fail'>
  <div class="modal-dialog" role="document">
    <div class="modalwrapper">
      <div class="modal-content">
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <img src="img/closebutton.svg" alt="">
          </span>
        </button>
        <div class="modal-body">
             
              <div class="modalinfo">
                <div class="modalinfo__image"><img src="img/fail.svg" alt=""></div><!-- /.modalinfo__image -->
                <div class="modalinfo__title">Чтото пошло не так :’(</div><!-- /.modalinfo__title -->
                <div class="modalinfo__text">Даю свое согласие на обработку персональных данных, соглашаюсь с политикой конфиденциальности</div><!-- /.modalinfo_-text -->
              </div><!-- /.modalinfo -->
              <div class="modal-submit modal-submit_small">
                <div class="buttonsrow">
                  <div class="buttonsrow__item buttonsrow__item_full">
                    <button type='submit' class='btn btn_main' data-dismiss="nodal">Попробовать еще раз</button>
                  </div>
                  <!-- /.buttonsrow__item -->
                 
                </div>
                <!-- /.buttonsrow -->
              </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal modal_small fade" tabindex="-1" role="dialog" id='popup_review'>
  <div class="modal-dialog" role="document">
    <div class="modalwrapper">
      <div class="modal-content">
        <div class="modal__header">
          <div class="modal-title" style='text-align: left;'>Оставить отзыв</div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <img src="img/closebutton.svg" alt="">
          </span>
        </button>
        <div class="modal-body">
          <form action="">
            
            <div class="formblock">
              <div class="formblock__main">
                <div class="formblock__input">
                  <label for="">Имя</label>
                  <input type="text" >

                </div><!-- /.formblock__input -->
                <div class="formblock__input">
                  <label for="">Email</label>
                  <input type="text" >
                </div><!-- /.formblock__input -->
                <div class="formblock__input"> 
                  <label for="">Текст отзыва</label>
                 <textarea name="" id="" cols="" rows="4"></textarea><!-- /# -->
                </div><!-- /.formblock__input -->
                <div class="formblock__input">
                  <div class="formrating">
                    <div class="formrating__text">Ваша оценка:</div>
                    <span class="score">
                      <div class="score-wrap">
                        <span class="stars-active" style="width: 0;">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </span>
                        <span class="stars-inactive">
                            <i class="fa fa-star" aria-hidden="true" style="color: #AEB5D1"></i>
                            <i class="fa fa-star" aria-hidden="true" style="color: #AEB5D1"></i>
                            <i class="fa fa-star" aria-hidden="true" style="color: #AEB5D1"></i>
                            <i class="fa fa-star" aria-hidden="true" style="color: #AEB5D1"></i>
                            <i class="fa fa-star" aria-hidden="true" style="color: #AEB5D1"></i>
                        </span>
                      </div>
                    </span>
                    <input type="hidden" name="formrating" value='0'>

                  </div>
                  <script>
                      $('.formrating .score-wrap').mousemove(function (e) {
                            if ($('.formrating input[name="formrating"]').val() === '0') {
                                var stars = parseInt((e.pageX - $(this).offset().left) / 25) * 25 + 25;
                                $(this).find('span.stars-active').css('width', stars);
                            }

                        });

                        $('.formrating .score-wrap').click(function (e) {
                            var stars = parseInt((e.pageX - $(this).offset().left) / 25) + 1;
                            var $inp = $('.formrating input[name="formrating"]');
                            $inp.val(stars);
                            $('.formrating span.stars-active').css('width', stars  * 25);
                            $('.formrating__value').html(stars);
                            // при нажатии на рейтинг 
                        });
                  </script>
                </div><!-- /.formblock__input -->
              </div><!-- /.formblock__main -->
              
              <div class="modal-submit modal-submit_small">
                <div class="buttonsrow">
                  <div class="buttonsrow__item buttonsrow__item_full">
                    <button type='submit' class='btn btn_main'>Отправить</button>
                  </div>
                  <!-- /.buttonsrow__item -->
                </div>
                <!-- /.buttonsrow -->
              </div>
              <div class="formblock__check">
                <div class="check agree">
                  <input type="checkbox" id="agree2" checked="checked" value="Y">
                  <label for="agree2">Даю свое согласие на обработку персональных данных, соглашаюсь с <a href=""> политикой конфиденциальности</a></a>
                  </label>
                </div>
              </div><!-- /.formblock__check -->
            </div><!-- /.formblock -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%= _.template(require('../includes/footer.html').default)(data) %>