.ui-slider {
  position: relative;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  /* border-radius: 50%;
  background: #FFFFFF;
  border: 2px solid #fff; */
  box-sizing: border-box;
  cursor: pointer;
  background-image: url(../img/sliderHandle.svg);
 /*  box-shadow:
  inset 0 0 0 2px #ab3541, */
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  display: block;
  border: 0;
  overflow: hidden;
}
.ui-slider-horizontal {
  height: 7px;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -11px;
  margin-left: -15px;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
.ui-widget-content {
  height: 4px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 222px;
}
.ui-widget-header {
  border: none;
}

.ui-widget-content {
  background: #E2E2EA!important;
}

.ui-slider-range.ui-corner-all.ui-widget-header:last-child {
  background: #ab3541!important;

}

.ui-corner-all {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.filter {
  font-family: var(--font-family);

  background: #fff;
  padding: 25px 21px 30px 25px;
}
.filter__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter__form {
  padding-top: 10px;
  padding-bottom: 10px;
}
.filter__header img {
  opacity: 0.5;
  
}
.filter__item_open .filter__header img {
  transform: rotate(-180deg);
}

.filter__item_close .filter__form {
  display: none;
}
.formCost input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;

  
  color: #282828;
}
.formCost input::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;

  
  color: #282828;
}
.formCost input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;

  
  color: #282828;
}
.formCost input:-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;

  
  color: #282828;
}
.sliderCont {
  width: 90%;
  margin: auto;
  height: 20px;
}
.formCost {
  margin: 7px 0;
}
.formCost__inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#slider {
  width: 100%;
}
.filter__price {
  width: 100%;
}
.dcheckbox {
  margin-bottom: 13px;
}

.formCost__delimeter {
  width: 10px;
height: 2px;
margin-top: 3px;

background: #E2E2EA;
border-radius: 55px;
}
span.dcheckbox__text {
  font-family: var(--font-family);

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  display: block;
  width: 100%;
  color: #282828;
  transition: all 0.5s;
}
.dcheckbox input[type="checkbox"] {
  display: none;
}
.dcheckbox input[type="radio"] {
  display: none;
}
span.dcheckbox__text:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 19px;
  height: 21px;
  background-image: url(../img/dcheckbox.svg);
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
}
.dcheckbox label {
  padding-left: 0;
  cursor: pointer;
  margin-bottom: 16px;
  transition: all 0.5s;
  position: relative;
  padding-left: 26px;
  display: block;
  width: 100%;
}
.dcheckbox label:last-child {
  margin-bottom: 0;
}
/* .dcheckbox label:hover .dcheckbox__text:before {

  background-image: url(../img/checkhover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-position: center;
} */
.dcheckbox input[type="checkbox"]:checked + .dcheckbox__text:before {
/*   border-color: #ab3541;
  background-color: #ab3541; */
  background-image: url(../img/dcheckbox_active.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.dcheckbox input[type="checkbox"]:checked + .dcheckbox__text {
  opacity: 1;
}
.dcheckbox input[type="radio"]:checked + .dcheckbox__text:before {
  /* border-color: #ab3541;
  background-color: #ab3541; */
  background-image: url(../img/dcheckbox_active.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.dcheckbox input[type="radio"]:checked + .dcheckbox__text {
  opacity: 1;
}

.filter__item {
  margin-bottom: 32px;
}

.formCost input {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  border-radius: 23px;
  border: 1px solid rgba(40, 40, 40, 0.1);
background: #fff;
  height: 46px;
  text-align: center;
  color: #282828;
  width: 120px;
}
.formCost input.notchanged {
  color: rgba(37, 52, 79, 0.5);
}
.formCost input:focus {
  color: #282828;
}
.formCost__price_left {
  position: relative;
}
.formCost__price_right {
  position: relative;
}

.filter__header {
  font-family: var(--second-family);

  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 19px;
  text-transform: uppercase;
  color: #282828;
  margin-bottom: 12px;
}
.filter__price {
  max-width: 100%;
}
.filter__form {
  max-height: 309px;
  overflow-y: auto;
}
.filter__header-js {
  cursor: pointer;
}
.btn_main_reset {
  background-image: url(../img/reset.svg);
  padding-left: 80px;
  background-repeat: no-repeat;
  background-position: center left 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  min-width: initial;
  color: #fff;
  text-transform: none;
  height: 52px;
  line-height: 52px;
}
