@font-face {
  font-family: 'Klein';
 src: url('../fonts/Klein-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Klein Book';
 src: url('../fonts/Klein-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Klein';
 src: url('../fonts/Klein-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Klein';
 src: url('../fonts/Klein-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Klein';
 src: url('../fonts/Klein-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Klein';
 src: url('../fonts/Klein-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Klein';
 src: url('../fonts/Klein-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-ExtraBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Helvetica Neue';
 src: url('../fonts/HelveticaNeueBlackCondensed.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
 src: url('../fonts/HelveticaNeueCyr-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
 src: url('../fonts/HelveticaNeueCyr-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
 src: url('../fonts/HelveticaNeueCyr-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
 src: url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
 src: url('../fonts/HelveticaNeueBoldCondensed.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
 src: url('../fonts/HelveticaNeueCyr-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
 src: url('../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
 src: url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family: 'Circe';
  --second-family: 'Helvetica Neue';
  --third-family: 'Klein';
}

body {
  min-width: 320px;
  font-family: "Klein";
  font-style: normal;
  font-weight: normal;
  @include clear;
  scroll-behavior: smooth;
  color: $main;
  overflow-x: hidden;
  width: 100%;
  background: #f4f4f4;

}
* {
  font-style: normal;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none !important;
  line-height: 1;
}
/* main {
		overflow: hidden;
}
*/
a {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #08105b;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 100%;
  width: initial;
  height: initial;
}

.jsbackdrop {
  background: rgba(52, 60, 75, 0.5);
  display: none;
  position: fixed;
  z-index: 99999;
  height: 100%;
  min-height: 100vh;
  left: 0;
  top: 80px;
  width: 100%; }

.jsbackdrop.active {
  display: block; }

  .footer__dev a {
    align-items: center;
    display: flex;
  }
  .footer__dev span {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    opacity: 0.5;
    padding-right: 4px;
  }

@media (min-width: 1024px) {
  .onlyMobile {
    display: none !important;
  }
}
@include medium-screen {
  .onlyMobile {
    display: initial;
  }
  .onlyDesktop {
    display: none !important;
  }
}
.container {
  @include container;
}

body {
  
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: transparent;

}

.header__main {
}
.headermain {
}
.headermain__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}
.headermain__left {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.headermain__logo {
  margin-right: 65px;
}
.headermain__menu {
}
.headermenu {
}
.headermenu__items {
  display: flex;
  align-items: center;
}
.headermenu__item {
  margin-right: 29px;
  a {
    font-weight: 400;
font-size: 16px;
line-height: 100%;
text-transform: uppercase;
color: #fff;
opacity: 0.5;
padding-bottom: 8px;
border-bottom: 2px solid transparent;
  
    &.active {
      opacity: 1;
      border-color: #AB3541;
    } 

    &:hover {
      opacity: 1

    }

    &.active:hover {
      border-color: transparent;
    }
}
}
.headermain__right {
}
.headermain__panel {
  display: flex;
  align-items: center;
}
.headermain__contact {
margin-right: 43px;
}
.headermain__tel {
  a {
    color: #fff;
  }
}
.headermain__cb a {
  font-family: var(--third-family);
font-weight: 500;
font-size: 14px;
line-height: 100%;
text-transform: uppercase;
color: #e7d5b3;
display: block;
margin-top: 6px;
}
.headermain__links {
}
.headermain__burger {
}

.indexblock {
  background-image: url(../img/bg1.jpg);
  background-size: cover;
  background-position: center;
  min-height: 1023px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 150px;

}

.indexblock__wrapper {
  padding-bottom: 210px;
}

.indexblock__title {
  max-width: 1016px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 80px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
}

.iconlinks__item {
  margin-right: 15px;
}

.iconlinks__item:last-child {
  margin-right: 0;
}

.iconlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.iconlinks .iconlinks__item:last-child {
  margin-right: 0;
}

.iconlinks__link {
  display: block;
  width: 35px;
  text-align: center;
  position: relative;
}

.iconlinks__text {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  display: block;
  text-align: center;
  margin-top: 6px;
  color: #25344f;
}

.iconlinks__badge {
  position: absolute;
  right: -3px;
  top: -2px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  background: $red;
  min-width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  border-radius: 18px;
  color: #ffffff;
}

a.burgermenu {
  position: relative;
  display: block;
  padding: 0 15px;
  &:after {
    content: url(../img/burger_bg.svg);
    position: absolute;
    bottom: -35px;
    z-index: 0;
    left: 0;
  }
  span {
    position: relative;
    z-index: 1;
    display: block;
    margin-bottom: 8px;
    height: 2px;
    width: 30px;
    background: #fff;
  }
}

.headermain__burger {
  margin-left: 30px;
}

.categoryblocks {
  margin-top: -40px;
  position: relative;

}
.categoryblocks__items {
  display: flex;
  gap: 20px;
}
.categoryblocks__item {
  width: 25%;

}
.categoryblock {
  background: linear-gradient(180deg, #1e1e1e 0%, #2e2d2d 0.01%, #1e1e1e 100%);
}
.categoryblock__wrapper {
  padding: 36px 20px 20px 36px;
  height: 200px;
  display: block;
  position: relative;
  background-image: url(../img//categoryblock_bg.jpg);
  background-position: center;
  background-size: cover;
}
.categoryblock__title {
  padding-bottom: 18px;

  font-family: var(--second-family);
font-weight: 700;
font-size: 26px;
line-height: 100%;
text-transform: uppercase;
color: #fff;
position: relative;
z-index: 2;

&:after {
  content: "";
  width: 30px;
  height: 3px;
  background: $red;
  position: absolute;
  left: 0;
  bottom: 0;
}
}
.categoryblock__image {
  display: block;
  position: absolute;
  right: 20px;
top: 41px;
  z-index: 1;
}

.red {
  color: $red;
}

.aboutblock {
  padding-top: calc(86px + 40px);
}
.aboutblock__wrapper {
  display: flex;
  align-items: center;
  min-height: 711px;
}
.aboutblock__main {
  min-width: 609px;
  max-width: 609px;
  margin-right: 66px;
}
.aboutblock__title {
  margin-bottom: 44px;
  font-family: var(--second-family);
font-weight: 700;
font-size: 52px;
line-height: 100%;
text-transform: uppercase;
color: #282828;
}

.aboutblock__text {
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: rgba(40, 40, 40, 0.7);
margin-bottom: 66px;
p {
  margin-bottom: 30px;
  font-size: 16px;
line-height: 150%;
}
}
.aboutblock__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aboutblock__number {
}
.navslider__progress {
  width: 129px;
}
.aboutblock__link {
}
.btn_border {
}
.aboutblock__slider {
}

.btn_border {
  display: inline-block;
  padding: 15px 35px;
  font-family: var(--third-family);
font-weight: 500;
font-size: 16px;
line-height: 100%;
text-transform: uppercase;
color: $main;
position: relative;
border: 2px solid transparent;
}


.btn_border::before, .btn_border::after, .btn_border span::before, .btn_border span::after {
  display: block;
  content: "";
  width: 13px;
  height: 13px;
  position: absolute;
}

.btn_border::before {
  top: -1px;
  left: -1px;
  border-top: 2px solid $red;
  border-left: 2px solid $red;
}
.btn_border::after {
  top: -1px;
  right: -1px;
  border-top: 2px solid $red;
  border-right: 2px solid $red;
}
.btn_border span::before {
  bottom: -1px;
  left: -1px;
  border-bottom: 2px solid $red;
  border-left: 2px solid $red;
}
.btn_border span::after {
  bottom: -1px;
  right: -1px;
  border-bottom: 2px solid $red;
  border-right: 2px solid $red;
}


.btn_border:hover {
  border-color: $red;
  background: $red;
  color: #fff;
}

[data-myslider-container] {
  width: 100%;
  overflow: hidden;
  position: relative;
}
[data-myslider-slider] {
  display: flex;
  position: relative;
  transition: left 0.5s;
  overflow-x: hidden;
  scroll-behavior: smooth;
  left: 0;
}
[data-myslider-prev], [data-myslider-next] {
  cursor: pointer;
}
.aboutblock {
  padding-bottom: 115px;
}
.aboutblock__wrapper {
  position: relative;
}
.aboutblock__wrapper {
}
.aboutblock__slider {
  position: absolute;
  left: 0;
  top: 0;
}

.aboutblock__sliderblock {
  position: relative;
  min-height: 711px;
  width: 100%;

}

.myslider__arrow {
  cursor: pointer;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #000;
  opacity: 0.7;
  text-align: center;
  line-height: 56px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}

.myslider__left {
  left: 20px;
}

.myslider__right {
  right: 20px;
}

.myslider__left {
  img {
    transform: rotate(180deg);
  }
}

.slider_barline {
  width: 100%;
  background: #d9d9d9;
  height: 2px;
  display: block;
}

.slider_barline span {
  width: 20%;
  background: $red;
  display: block;
  height: 100%;
}
.slider__numb {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 12px;
}

.slider_barcurrent {
  font-family: var(--second-family);

  font-weight: 700;
font-size: 42px;
line-height: 100%;
text-transform: uppercase;
color: #282828;
opacity: 0.9;
}

.slider_bartotal {
  font-family: var(--second-family);
font-weight: 700;
font-size: 16px;
line-height: 100%;
text-transform: uppercase;
color: #d9d9d9;
}