

@media (max-width: 1480px) {
  .catalogpage__aside {
    max-width: 260px;
    min-width: 260px;
    margin-right: 15px;
  }
  .filter {
    padding: 20px 10px;
  }
  .returnblock__list {
    padding-left: 30px;
    padding-right: 30px;
  }
  .returnblock__main {
    padding-right: 30px;
  }
  .informitem {
    padding-left: 15px;
    padding-right: 15px;
  }
  .confirmpage__wrapper {
    padding-left: 30px;
  }
  .productcard__price  {
    white-space: nowrap;
    margin-right: 10px;
  }
  .videoblock__content {
    margin-left: 30px;
  }
  iframe {
    max-width: 100%;
    width: 100%;
  }
  .videoblock__video {
    width: 50%;
  }
  input.quantity-field {
    max-width: 35px;
  }
  .catalogmain__item {
    .productcard__price {
      font-size: 18px;
    }
    .btn_cart span, .btn_main span {
      font-size: 14px;
    }
    .tocart__content {
      padding-left: 28px;
    }
    .quantity span {
      padding: 10px 5px;
    }
  }
  .productpage__right {
    width: calc(100% - 600px);
  }
  .detailslider__wrapper {
    width: 600px;
  }
  .detailslider .detailswiper, .detailslider .detailswiperpreview {
    height: 338px;
  }
}

.btn_lg {
  font-family: var(--third-family);
font-weight: 400;
font-size: 14px;
line-height: 100%;
text-transform: uppercase;
color: #fff;
display: inline-block;
padding: 18px;
text-align: center;
}

@media (max-width: 1279px) {

  .catalogmain__item {
    width: calc((100% - #{$rowgap}) / 2); 
  }
  
  .catalogmain__items_col4 {

    .catalogmain__item {
      margin-bottom: 19px;
      width: calc((100% - #{$rowgap}) / 2); }
    }
  .catalogmain__item {
    .productcard__price {
      font-size: 18px;
    }
  }
  .searchinput {
    height: 36px;
  
    input {
      height: 36px;
      padding: 0 20px 0 54px;

    }
  }
  .headermain__search {
    top: 80px;
    width: 100%;
    button, img {
      max-width: 18px;
      min-width: 18px;
      height: 18px;
    }
  }
  .headermain__menu {
    display: none;
  }
  .headermain__contact {
    display: none;
  }
  .footercols {
    flex-wrap: wrap;
  }
  .footer__items {
    flex-wrap: wrap;
  }
  .headermain__logo {
    max-width: 165px;
    min-width: 165px;
    margin-right: 32px;
  }
  .headermain__wrapper {
    padding: 28px 0;
  }
  .iconlinks__item {
    margin-right: 13px;
  }
  .iconlinks__icon {
    img {
      width: 26px;
      height: 26px;
    }
  }

  h2 {
    font-weight: 700;
font-size: 32px;
line-height: 100%;
text-transform: uppercase;
color: #282828;
  }

  .videoblock__title {
    font-weight: 700;
font-size: 32px;
line-height: 100%;
  }

  .videoblock__main {
    flex-wrap: wrap;
  }
  .videoblock__video {
    width: 100%;
  }
  .videoblock__content {
    width: 100%;
    margin-left: 0;
  }
  .videoblock__text {
    font-size: 22px;
  }
  .productcard__price {
    font-size: 26px;
  }
  .btn_cart span, .btn_main span {
    font-size: 14px;
  }
  .btn_cart, .btn_main {
    padding: 0 13px;
    height: 40px;
  }
  .tocart__content {
    padding-left: 24px;
  }
  .tocart__content {
    background-size: 18px;
  }
  .quantity span {
    padding: 10px 5px;
  }
  .quantity {
    min-width: 88px;
    justify-content: space-between;
  }
  .cataloglist__item {
    width: 100%;
  }
  .videoblock__content {
    min-width: unset;
    max-width: 100%;
  }
  .indexblock__title {
    font-weight: 700;
font-size: 32px;
line-height: 100%;
  }
  .categoryblocks {
    overflow: auto;
    width: 100%;
  }
  .categoryblock__wrapper {
    max-width: 273px;
    min-width: 273px;
    height: 150px;
  }
  .categoryblocks__items {
    padding-bottom: 30px;
  }
  .categoryblocks__item {
    width: unset;
  }
  .categoryblock__image {
    width: 143px;
  }
  .indexblock {
    padding-top: 0;
    min-height: 456px;
  }
  .indexblock__wrapper {
    padding-bottom: 66px;
    max-width: 302px;
  }
  .aboutblock__title {
    font-size: 32px;
    line-height: 100%;
    margin-bottom: 28px; 
  }
  .aboutblock {
    padding-top: 20px;
  }
  .aboutblock__wrapper {
    flex-wrap: wrap;
  }
  .aboutblock__sliderblock {
    min-height: 222px;
  }
  .aboutblock__main {
    max-width: 100%;
    min-width: unset;
  }
  a.burgermenu:after {
    content: url(../img/burger_bg_m.svg);
    bottom: -28px;
  }
  a.burgermenu {
    padding: 0 10px;
  }
  a.burgermenu span {
    width: 22px;
  }
  .headermain__burger {
    margin-left: 19px;
  }
  a.burgermenu.active span:first-child {
    opacity: 1;
    transform: translate(2px, 13px) rotate(-45deg);
}
a.burgermenu.active span:last-child {
  transform: translate(2px, -13px) rotate(45deg);
}
.popupmenu {
  top: 80px;
  min-height: 100vh;
}
.catalogmenu {
  padding-right: 0;
  background-image: none;
}
.catalogmenu__item {
  margin-bottom: 13px;
}
.catalogmenu__item a {
  font-size: 32px;
line-height: 100%;
}
.popupmenu__wrapper {
  flex-wrap: wrap;
  padding-top: 24px;
}
.popupmenu__col {
  max-width: 50%;
  min-width: 50%;
  margin-right: 20px;
  min-height: unset;
}
.popupmenu__content {
  width: 100%;
  margin-top: 36px;
}
.popupmenu__title {
  display: none;
}
.popupmenu__list ul li a {
  font-size: 14px;
}
.popupmenu__list ul li {
  margin-bottom: 12px;
}
.popumenu__footer {
  margin-top: 45px;
  display: block;
}
.popupfooter__button {
  margin-bottom: 30px;
}
.popupfooter__socials {
  margin-bottom: 19px;
}

.btn_lg {
  font-family: var(--third-family);
font-weight: 400;
font-size: 14px;
line-height: 100%;
text-transform: uppercase;
color: #fff;
display: block;
width: 100%;
line-height: unset;
height: unset;
padding: 18px;
text-align: center;
}

.categoryblock__wrapper {
  padding: 27px 33px;
}
.categoryblock__title {
  font-size: 19px;
  padding-bottom: 13px;
}
.categoryblock__image {
  width: 160px;
}
.categoryblocks {
  margin-top: -35px;
}
.aboutblock__main {
  margin-right: 0;
}
.aboutblock__sliderblock {
  order: -1;
}
.aboutblock__title {
  margin-bottom: 28px;
  display: block;
}
.aboutblock__nav {
  width: 100%;
  order: -1;
}
.aboutblock__main {
  display: flex;
  flex-direction: column;
}
.brandcard, .newscard {
  max-width: 100%;
  min-width: 100%;
}
.aboutblock__nav {
  margin-top: 18px;
}
.aboutblock__text {
  margin-bottom: 0;
}
.aboutblock {
  padding-bottom: 40px;
}
.videoblock {
  padding: 24px 0 88px 0;
  iframe {
    min-height: 190px;
  }
}
.videoblock__title {
  margin-bottom: 22px;
}

.videoblock__wrapper {
  height: unset;
}
.video-link-classic {
  width: 68px;
  height: 68px;
}
.video-link-classic-overlay {
  width: 72px;
  height: 72px;
  top: -2px;
  left: -2px;
}
.videoblock__stats {
  flex-wrap: wrap;
}

.videoblock__stat {
  width: 100%;
  display: flex;
  align-items: center;
}

.videoblock__statText {
  margin-left: 39px;
}
.videoblock__text {
  margin: 22px 0;
}
.fitchesblock__items {
  flex-wrap: wrap;
  gap: 10px;
}

.fitchesblock__item {
  width: 100%;
  min-width: 100%;
}
.fitchescard {
  padding: 18px;
}
.fitchescard__icon{
  width: 32px;
  margin-bottom: 15px;
}
.fitchescard__title {
  font-size: 18px;
  max-width: 222px;
}
.fitchesblock {
  margin-bottom: 34px;
  margin-top: -50px;
}
.blocktitle {
  margin-bottom: 32px;
}
.cataloglist__slider .cataloglist__item {
  max-width: 100%;
}
.brandslist {
  padding: 28px 0;
}
.products__arrows svg {
  width: 51px;
}
.brandslist__title .blocktitle {
  margin-bottom: 41px;
}

.brandslider__slide:nth-child(2) {
  margin-top: 30px;
}

.brandslider__slide:nth-child(3) {
 margin-top: -30px;
}

.brandslider__slide:nth-child(4) {
  margin-top: 0px;
}
.videoblock__statTitle {
  width: 150px;
}
.fitchescard {
  background-size: 123px;
  min-height: 136px;
}
.brandcard__image {
  margin-bottom: 20px;
  height: 165px;
  padding: 40px 40px;
}
.brandcard__title {
  margin-bottom: 14px;
  font-size: 22px;
}

.brandcard__text {
  font-size: 14px;
}

.newsblock {
  padding: 32px 0;
}
.newscard__wrapper {
  flex-wrap: wrap;
  width: 100%;
}
.newscard__image {
  order: -1;
}
.newscard__image {
  max-width: 100%;
  min-width: 100%;

  @include imagecenter(56%);
}
.newscard {
  padding: 0;
}
.newscard__content {
  margin: 0;
  width: 100%;
  padding: 21px 25px;
}
.newscard__title {
  font-size: 22px;
  padding-bottom: 17px;
}
.newscard__content {
  height: 138px;
}
.newscard__date {
  margin-top: 12px;
}
.newsblock__items  {
  gap: 8px;
}
.footer__item {
  min-height: unset;
}
.footer__center {
  order: -2;
}
.footer__right {
  order: -1;
}

.footer {
  padding: 33px 0;
}
.footermenu__title {
  margin-bottom: 14px;
}
.footerinfo__logo {
  margin-bottom: 22px;
  display: block;
}
.productcard__title a {
  height: unset;
}
.footer__left {
  margin-top: 38px;
}

.videoblock__wrapper {
  position: relative;
   width: 100%;
   height: 0;
   padding-bottom: 56.25%;
}
.videoblock__wrapper iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.breadcrumbs {
  font-family: var(--third-family);

  margin: 0  0 20px 0; }

.breadcrumbs__items ul {
  padding: 0;
  margin: 0;
  list-style: none;
 }
  .breadcrumbs__items ul li {
    position: relative;
    padding-right: 7px;
    margin-right: 7px;
    display: inline-block;
    vertical-align: middle;
   }
    .breadcrumbs__items ul li:after {
      content: "/";
      position: absolute;
      right: -6px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #fff; 
    }
    .breadcrumbs__items ul li:last-child:after {
      display: none; 
    }
  .breadcrumbs__items ul img {
    line-height: 1;
    vertical-align: bottom; 
  }
  .breadcrumbs__items ul span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #fff; 
  }
  .breadcrumbs__items ul a span {
    line-height: 16px;
  }

  .pageheader__content {
    padding: 0 0 47px 0;
  }

  .pageheader__title {
    margin: 20px 0;
  }
  .pageheader h1 {
    font-family: var(--second-family);
font-weight: 700;
font-size: 68px;
line-height: 100%;
text-transform: uppercase;
color: #fff;
margin: 0;
  }
  .categoryblock__title  {
    display: block;
    max-width: 183px;
  }
  .categoryblocks_page {

    .categoryblocks__item {
      flex-grow: 1;
      max-width: calc(100% / 2 - 14px);
   
  }
}
.productpage__main {
  flex-wrap: wrap;
}
.productpage__right {
  width: 100%;
}
.productpage__left {
  width: 100%;
  max-width: 900px;
}
.detailslider__wrapper {
  width: 100%;
}
.detailslider .detailswiper, .detailslider .detailswiperpreview {
  height: 553px;
}
.cataloglist__slider  {
  .productcard__price {
font-size: 18px;
  }
  .productcard__price .productcard__prices_new {
    margin-right: 10px;
  }
}

}

@media (max-width: 1023px) {
  .catalogaside  {
    position: absolute;
  }
  .reviews__left {
    display: block;
  }
  .reviews__info {
    align-items: flex-start;
  }
  .reviews__item {
    padding: 17px 16px;
  }
  .reviews__name {
    margin-bottom: 9px;
    white-space: nowrap;
    margin-right: 0;
  }
  .seoabout__wrapper {
   flex-wrap: wrap;
  }
  .seoabout__main {
    max-width: 100%;
    min-width: 100%;
  }
  .seoabout__title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .seoabout__text {
font-size: 12px;
  }
  .seoabout__image {
    margin-left: 0;
    margin-bottom: 15px;
    order: -1;
    max-width: 100%;
    min-width: 100%;
  }

  .aboutblock_page {
    padding-top: 30px;
  }
  
  .seoabout {
    margin-bottom: 24px;
  }
  
  .mobilefilter {
    margin-top: 22px;
    display: block;
  }
  .btn_filter {
    padding: 12px 18px;
    background: #2d2c2c;
    display: flex;
    align-items: center;
    background-image: url(../img/filterNext.svg);
    background-position: right 18px center;
    background-repeat: no-repeat;

    span {
      font-family: var(--second-family);

      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
      text-transform: uppercase;
      color: #fff;
      padding-left: 10px;
    }

  }
  .catalogpage {
    margin-top: 20px;
  }

  .catalogpage__aside.active {
    display: block; }
  .catalogpage__main {
    padding: 0;
    width: 100%; }
  .searchinput input {
    height: inherit; }
  .breadcrumbs {
    margin-bottom: 6px; }
  header#header {
    margin-bottom: 14px; }
  .catalogheader {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  
  .btn_icon {
    width: 36px;
    height: 36px;
    padding: 0; }
  .catalogheader__panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

  .dropdown-select--type1 {
    background: #F3F3F6;
    border-radius: 6px;
    height: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 13px;
    width: 240px; }
  .filternav__item--value {
    display: none; }
  .filternav__item:last-child {
    margin-right: 0; }
  .filternav__title, .filternav__name {
    font-size: 12px;
    line-height: 14px; }
  .filternav__items {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .filternav__name {
    margin-right: 8px; }
  .seoblock__title {
    margin-bottom: 18px; }
  .seoblock__title h2 {
    font-size: 22px;
    line-height: 100%; }
  .seoblock {
    padding: 31px 0; }
  .seoblock__text p {
    font-size: 12px;
    line-height: 130%; }
  .catalogpage__aside aside > * {
    display: none; }
  .catalogpage__aside aside .catalogaside__filter {
    display: block;
    position: fixed;
    z-index: 9999;
    right: 0;
    min-height: 100vh;
    top: 0;
    background: #fff;
  
    -webkit-box-shadow: 8px 8px 40px rgba(48, 54, 64, 0.1);
    box-shadow: 8px 8px 40px rgba(48, 54, 64, 0.1); }
  .catalogpage__aside {
    display: none; }
  .catalogpage__aside.active {
    display: block; }
  .sliderCont {
    width: calc(100% - 25px); }
  .catalogheader__title h1 {
    font-size: 22px;
    line-height: 26px; }
  .catalogheader {
    margin-bottom: 15px; }
  .catalognav {
    margin-top: 5px; }
  .catalogheader_large {
    margin-bottom: 28px; }
    .catalogheader_large .dropdown-select.dropdown-select--type1 {
      width: 100%;
      max-width: 320px; }
  .itemslists {
    margin-bottom: 32px; }
  .catalogheader__title h1 {
    margin-top: 19px; }
  .dropdownpanel {
    width: 100%; }
  .catalogbanner {
    margin-bottom: 17px; }

    .catalogaside__filter {
      padding-top: 0;
      .mobilefilter{
        margin-top: 0;
      }
    }
    .catalogpage__aside aside .catalogaside__filter {
      padding-top: 0;
      .btn_filter {
        background-image: url(../img/filterclose.svg);
      }
    }
    input.quantity-field {
      height: 40px;
    }
    .dropdown-select--type1 {
      width: unset;
      padding: 0;
    }
    .paginationblock {
      padding-bottom: 0;
      margin-bottom: 0;
    }
    .seoblock .aboutblock__text p {
      margin-bottom: 20px;
    }
    .seoblock {
      margin-bottom: 20px;
      padding-bottom: 0;
    }
    .showmorelink {
      height: 50px;
      padding: 0;
    }
    .pagination ul {
      margin: 0 7px;
    }
    .showmorelink span {
      font-size: 14px;
    }
    .dropdown-select__title, .dropdown-caption {
      font-size: 14px;
    }
    .dropdown-caption {
      margin-right: 7px;
    }
    .catalogmain__item .productcard__price {
      font-size: 26px;
    }
    .dropdown-value {
      padding-top: 0;
    }
    .dropdown-value {
      min-width: unset;
    }
    .footercols {
      width: 100%;
      margin-bottom: 30px;
      justify-content: space-between;
      
    }
    .footer__center  {
      max-width: 100%;
    }
}
@media (max-width: 999px) {
  .informblocks__items {
    flex-wrap: wrap;
  }
  .informblocks__item {
    width: 49%;
    flex: unset;
  }
  .returnblock__wrapper {
    flex-wrap: wrap;
  }
  .returnblock__main {
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
 
}
@media (max-width: 767px) {
  .catalogmain__item {
    width: 100%;
  }
  
  .catalogmain__items_col4 {

    .catalogmain__item {
      width: 100%;
    }
  }
  .categoryblocks_page  .categoryblocks__item {
    max-width: 100%;
    width: 100%;
    min-width: 100%;
  }
  .categoryblocks_page .categoryblock__wrapper{
    height: 180px;
    display: block; width: 100%;
    max-width: 100%;
  }
  .pageheader {
    padding-top: 84px;
  }
  .breadcrumbs__items ul span {
    font-size: 10px;
  }
  .breadcrumbs {
    margin-bottom: 12px;
  }
  .pageheader h1 {
    font-size: 32px;
  }
  .pageheader__title {
    margin: 12px 0;
  }
  .pageheader__content {
    padding-bottom: 15px;
  }
  .categoryblocks_page {
    padding: 20px 0;
    margin-top: 0;
  }
  .categoryblocks_page .categoryblock__wrapper {
    padding: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .categoryblocks_page .categoryblock__title {
    font-size: 26px;
    padding-bottom: 16px;
  }
  .categoryblocks_page .categoryblock__image {
    top: 50%;
    transform: translateY(-50%);
  }
  .categoryblocks_page .categoryblocks__items {
    gap: 8px;
  }
  .detailslider .detailswiperpreview {
    display: none;
  }
  .detailslider .detailswiper, .detailslider .detailswiperpreview {
    height: unset;
  }
  .pageheader_inside {
    margin-top: 15px;
  }
  .pageheader_inside .breadcrumbs {
    margin-bottom: 15px;
  }
  .productpage__left {
    margin-left: -18px;
    margin-right: -18px;
    width: calc(100% + 36px);
  }
  .zoomImg {
    display: none !important
  }
  .detailslider {
    margin-bottom: 31px;
  }
  .productpage__right {
    margin-left: 0;
  }
  .detailinfo__title h1 {
    margin-bottom: 18px;
    font-family: var(--second-family);
font-weight: 700;
font-size: 26px;
line-height: 100%;
text-transform: uppercase;
color: #282828;
  }
  .detailinfo__descr p {
    font-weight: 400;
font-size: 14px;
line-height: 100%;
  }
  .detailinfo__descr {
    margin-bottom: 9px;

  }
  .detailbuy__title {
    font-weight: 400;
font-size: 12px;
line-height: 100%;
opacity: 0.5;
color: #282828;
margin-bottom: 9px;
  }
  .imgcheckbox__title {
    font-weight: 700;
font-size: 14px;
line-height: 100%;
  }
  .imgcheckbox__content {
    padding: 0 11px;
    height: 33px;
  }
  .detailbuy__options {
    margin-bottom: 20px;
  }
  .detailbuy {
    .productcard__buy {
      flex-wrap: wrap;
      
    }
  
    .productcard__prices {
      margin-bottom: 20px;
    }
    .productcard__price {
      font-size: 28px;
    }
    .productcard__prices_new {
      order: -1;
      margin-right: 16px;
    }
    .productcard__priceswrapper {
      display: flex;
      align-items: center;
    }
    .btn_white {
      padding: 18px 21px;
    }
    .detailbuy__buyblock  {
      .productcard__cart .btn {
        display: block;
        height: 50px;
        font-size: 14px;
        width: 100%;
      }
      .tocart__content  {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
      }

      .buyblock__buttons {


      width: 100%;
      > div {
        width: 50%;
        a {
          display: block;
          width: 100%;
          height: 50px;
          font-size: 14px;
        }
        .productcard__addcart {
          width: 100%;
        }
        
      }
    }
    }
  }
  .detailparams__value{
    font-size: 14px;

  }
  .detailinfo__buyblock {
    padding-bottom: 32px;
    margin-bottom: 19px;
  }
  .detailparams__item {
    width: calc(100% / 3);
  }
 .detailparams__wrapper {
  flex-wrap: wrap;
 }
 .detailparams__icon{
  width: 100%;
 }
 .detailparams__content {
  padding-left: 0;
  margin-left: 0;
  margin-top: 5px;
 }
 .detailinfo__link {
  display: none;
 }
 .productpage__main {
  margin-bottom: 10px;
 }
 .sitetabs {
  padding: 26px 0;
 }
 .sitetabs__header li {
  font-size: 28px;
  padding-bottom: 12px;
  margin-right: 29px;
 }
 .description__cols {
  flex-wrap: wrap;
 }
 .description__col {
  width: 100%;
 }
 .descriptiontable table, .descriptiontable tbody, .descriptiontable tr, .descriptiontable td {
  display: block;
 }
 .descriptiontable tr {
  margin-bottom: 22px;
 }
 .descriptiontable td{
  padding-bottom: 7px;
  padding-right: 0;
  font-size: 14px;
 }
 .descriptiontext p {
  font-size: 14px;
  margin-bottom: 20px;
 }
 .productpage__footer h2 {
  font-size: 32px;
line-height: 100%;
 }
 .catalogblock {
  padding-bottom: 44px;
 }

 .detail_off {
  .detailbuy .detailbuy__buyblock .buyblock__buttons > div.productcard__oneclick{
    width: 100%;
    text-align: center;
  }
  .btn_white{
    color: rgba(40, 40, 40, 0.5);
    width: 100%;
    display: block;
    &:hover, &:focus {
      color: #fff;
    }
  }
  .productcard__out {
    font-family: var(--second-family);
    margin-bottom: 15px;
  }
  
}
.infopage {
  min-height: unset;
}

.errorpage {
  margin: 30px 0;
}

.errorpage__img {
  margin-bottom: 38px;
  text-align: center;
  padding: 0 20px;
}
.errorpage__title {
  margin-bottom: 18px;
font-size: 29px;
}
.errorpage__text {
  font-size: 14px;
  margin-bottom: 17px;
}
.errorpage__link {
  text-align: center;
}
.btn_border {
}

.confirmpage__wrapper {
  padding: 30px 26px 36px 26px;
}

.confirmpage__bg {
  background-image: none;
  min-height: unset;
}
.confirmpage__title {
  max-width: 207px;
  margin-bottom: 13px;
  font-weight: 700;
font-size: 26px;
}
.confirmpage__text {
  font-size: 14px;
line-height: 150%;
margin-bottom: 18px;
max-width: 256px;
}
.confirmpage__info {
}
.orderinfo {
  display: block;
}
.orderinfo__number {
  margin-bottom: 22px;
}
.ordernumber {
}
.ordernumber__number {
  font-size: 32px;

}
.ordernumber__text {
  font-size: 12px;

}
.orderinfo__button {
  margin-left: 0;
}
.confirmpage {
  margin: 30px 0;
}
.contentblock__wrapper {
  flex-wrap: wrap;
}

.contentblock__main {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
.contentblock__image {
  width: 100%;
  order: -1;
}
.pageheader_inside h1 {
  font-weight: 700;
font-size: 32px;
line-height: 100%;
margin-bottom: 14px;
}
.contentblock__item {
  width: 100%;
  padding: 24px 20px;
}

.contentblock__title {
  margin-bottom: 16px;
  font-weight: 700;
font-size: 19px;
line-height: 100%;
}
.contentblock__list ul li {
  font-weight: 400;
font-size: 13px;
line-height: 100%;
margin-bottom: 7px;
}
.informblocks__items {
  flex-wrap: wrap;

}
.informblocks__item {
  width: 100%;
  flex: unset
}
.informitem {
  padding: 15px 18px;
}
.informitem__image {
  margin-bottom: 16px;
  img {
    max-width: 26px;
  }
}

.informitem__title {
  padding-bottom: 15px;
  font-weight: 700;
font-size: 18px;
margin-bottom: 12px;
}
.informblocks {
  padding-top: 20px;
  background-image: url(../img/informblocks_mob.png);
  background-repeat: no-repeat;
  background-position: top center;
}
.informblocks__title h2 {
  margin-bottom: 24px;
  font-weight: 700;
font-size: 32px;
line-height: 100%;
}

.returnblock {
  margin: 33px 0 10px;
}
.returnblock__wrapper {
  flex-wrap: wrap;
}
.returnblock__main {
  width: 100%;
  max-width: 100%;
}
.returnblock__title h2 {
  margin-bottom: 22px;
  font-weight: 700;
font-size: 32px;
line-height: 100%
}
.returnblock__text p {
  font-weight: 400;
font-size: 14px;
line-height: 150%;
}
.returnblock__main {
  padding-right: 0;
  margin-bottom: 16px;
}
.returnblock__list {
  padding: 18px;
}
.returnblock__subtitle {
  margin-bottom: 18px;
  font-weight: 700;
font-size: 18px;
line-height: 100%;
}

.numberlist {
 
  li {
align-items: flex-start;
    margin-bottom: 25px;
    font-family: var(--font-family);
font-size: 14px;
span {
  font-size: 14px;}
  }
  li:before {

   
    min-width: 31px;
    max-width: 31px;
    height: 31px;
    font-size: 13px;
    border: 3px solid #fff;
    outline: 1px solid #ab3541;
  }
}
.footercols__col {

  margin-bottom: 26px;
}

}


@media (max-width: 1630px) {
  .catalogmain__items {
    gap: 10px;
  }
  .catalogmain__item {
    width: calc((100% - 20px) / 3)
  }
  .catalogcats__item a {
    font-size: 16px;
    padding-left: 17px;
  }
  .catalogaside__back a {
    padding-left: 68px;
    background-position: left 16px center
  }
  .productcard__img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn_cart {
    padding: 0 10px;
  }
  .productcard {
    max-width: 400px;
    margin: auto;
    overflow: hidden;
   }
  
}
/* @media (max-width: 1280px) {
  .indexblock {
   height: 700px;
  }
  #video-bg {
    height: 700px;
  }
  .catalogmain__item {
    width: calc((100% - 10px) / 2)
  }
} */

@media (max-width: 992px) {
  .indexblock {
    height: 456px;
  }
  #video-bg {
    height: 456px;
  }
}
@media (max-width: 767px) {
  .pageheader__title {
    align-items: flex-end;
  }
  .pageheader__link  {
    font-size: 12px;
    padding-bottom: 6px;border-width: 2px;
  }
  .sitetabs__content {
    margin-bottom: 5px;
  }
  .sitetabs {
    .catalognav__pagination {
      flex-wrap: wrap;
      margin-bottom: 0;

      .reviewbutton {
        width: 100%;
        margin-top: 16px;
  
        .btn_main {
          width: 100%;
          text-align: center;
          justify-content: center;
        }
      }
    }
  }

.detailslider .detailswiper {

  img {
    width: 375px;
    height: 269px;
    object-fit: cover;
    object-position: center;
  }

}
  .scrolltop__icon {
    width: 40px;
    height: 40px;
  }
 .productcard {
  max-width: 400px;
  margin: auto;
 }
 .catalogmain__item {
  width: 100%;
}
.productcard__image a {
  height: 246px;
}
}
@media (max-width: 600px) {
  .footercols__col {
    width: 100%;
  }
 
}